@mixin reset-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin decorBefore {
    content: '';
    display: block;
    position: absolute;
}

#preActivity {
    #logo {
        max-width: 100vw;
    }

    section.section {
        width: 100vw;
        min-height: 100vh;
    }

    .title-decor-1 {
        position: relative;

        &::before {
            @include decorBefore();
            @include reset-bg();
            
            background-image: url('../Assets/pre-act-1-instuc/eyelashes1.svg');
            width: 74px;
            height: 57px;
            bottom: 0;
            left: -74px;

            @media(min-width: 769px) {
                left: calc(-74px - 50px);
            }
        }
    }

    .title-decor-2 {
        position: relative;

        &::before {
            @include decorBefore();
            @include reset-bg();
            
            background-image: url('../Assets/pre-activity-1/title-decor-2.svg');
            width: 117px;
            height: 67px;
            bottom: 0;
            left: -117px;

            @media(min-width: 769px) {
                left: calc(-117px - 50px);
            }
            
        }
    }

    .decor-cone-mobile {
        position: relative;
        padding-bottom: 70px;

        &::before {
            @include decorBefore();
            @include reset-bg();

            background-image: url('../Assets/pre-activity-1/cone.svg');
            width: 95px;
            height: 114px;
            bottom: 0;
            left: 0;
        }

        @media(min-width: 768px) {
            padding-bottom: 0px;
            &::before {
                display: none;
            }
        }
    }

    .decor-cone-desktop {
        position: relative;
        &::before {
            @include decorBefore();
            @include reset-bg();

            background-image: url('../Assets/pre-activity-1/cone.svg');
            width: 95px;
            height: 114px;
            bottom: 20px;
            left: -45px;
            display: none;

            @media(min-width: 768px) {
                display: block;
            }
        }
    }

    #Ycircle {
        z-index: -2;
        position: absolute;
        left: -583px;
        top: 0;

        @media (min-width: 768px) {
            left: -422px;
        }
    }

    #animation {
        z-index: 1;
        transform-origin: top left;
        transform: rotate(-25deg);
        top: 100px;
        left: 50px;

        @media (min-width: 768px) {
            transform: rotate(-35deg);
            top: 140px;
            left: 230px;
        }
    }

    #opacity1 img {
        width: 110%;
        margin-left: 5%;

        @media (min-width: 768px) {
            max-width: 100%;
            margin-left: 0;
        }
    }

    #opacity2 img {
        width: 135%;
        margin-left: -40%;

        @media (min-width: 991px) {
            width: 140%;
            margin-top: -60%;
        }
    }
    
    .bg-circle-last {
        padding: 50px 0 100px 0;

        background-image: url('../Assets/pre-activity-1/circle-last.svg');
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: right bottom;

        @media (min-width: 992px) {
            background-size: 350px;
        }
        
        @media (min-width: 1200px) {
            background-size: 450px;
        }
    }

    @media (min-width: 768px) {
        .overflow-md-auto {
            overflow: visible !important;
        }
    }
}